{% extends "base.html" %}
{% block content %}
<form action="/user/" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.username.label }}<br />
        {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }}<br />
        {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.memo.label }}<br />
        {{ form.memo(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.expire_time.label }}<br />
        {{ form.expire_time(class="form-control datetimeinput", type="datetime-local") }}
    </div>
    <input class="btn btn-default" type="submit" value="提交">
</form>
{% endblock %}