<!DOCTYPE html>
{% extends "master_base.html" %}
{% block content %}
<script type="text/javascript" src="../../static/knockout/dist/knockout.js"></script>
<div class="container">
    <div class="row">
        <div id="maincontent" class="span8">
            <div class="tabbable">
                <div class="tab-content">
				      <div id="demo" class="tab-pane active">
                          <form action="" id="contact-form" method="post" class="form-horizontal">
                              <fieldset>
                                  <legend>new user information form</legend>
                                  <div style="width: 50%">
                                      <div class="control-group">
                                      <label class="control-label" for="username">username</label>
                                      <div class="controls">
                                          <input type="text" class="form-control" name="username" id="username" data-bind="value: username">
                                      </div>
                                      <label class="control-label" for="password">password</label>
                                      <div class="controls">
                                          <input type="text" class="form-control" name="password" id="password" data-bind="value: password">
                                          <a href="#" data-bind="click: randomPassword">generate</a>
                                      </div>
                                      <label class="control-label" for="memo">memo</label>
                                      <div class="controls">
                                          <input type="text" class="form-control" name="memo" id="memo" data-bind="value: memo">
                                      </div>
                                      <label class="control-label" for="expire_time">expire time</label>
                                      <div class="controls">
                                          <input type="date" class="form-control" name="expire_time" id="expire_time" data-bind="value: expire_time">
                                      </div>
                                  </div>
                                  </div>
                                  <div style="padding-top: 20px">
                                      <div class="form-actions">
                                      <button class="btn btn-primary btn-large" data-bind="click: submit">submit</button>
                                      <button type="reset" class="btn">cancel</button>
                                  </div>
                                  </div>


                              </fieldset>
                          </form>
                      </div><!-- .tab-pane -->
                </div><!-- .tab-content -->
            </div><!-- .tabbable -->
        </div><!-- .span -->
    </div><!-- .row -->
</div> <!-- .container -->
<div style="text-align:center;clear:both">
</div>
<script type="text/javascript" src="../../static/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../static/addUser.js"></script>
{% endblock %}