<!DOCTYPE html>
{% extends "master_base.html" %}
{% block content %}

<div style="margin:10px 150px 10px 50px">
    filter</span><input name="key" type="text" id="key" onkeydown="onSearch(this)" value="" />
    <table class="table table-condensed" id="allUser">
   <h2 align="center">user list</h2>
   <thead>
      <tr>
         <th>username</th>
         <th>memo</th>
         <th>expire time</th>
         <th>active entitlement</th>
         <th>operation</th>
      </tr>
   </thead>
   <tbody>
      {% for user in user_collection %}
      <tr>
          <td width="10%">{{user[1]}}</td>
          <td width="10%">{{user[3]}}</td>
          <td width="20%">{{user[4]}}</td>
          <td width="40%">
              <div>
                  <span>
                      {{user[6]}}
                  </span>
              </div>
          </td>

          <td><a href="/userList/{{user[0]}}">edit</a></td>
      </tr>
      {% endfor %}
   </tbody>
</table>
</div>

<script language="JavaScript" type="text/javascript" src="../../static/filter.js"></script>
<script language="javascript" type="text/javascript" src="../../static/tableSorter.js"></script>
<script language="javascript" type="text/javascript">
    window.onload = function()
    {
        new TableSorter("allUser");
        {
        //alert("table is sorted by " + c.innerHTML + " " + (t ? "Asc" : "Desc"));
        }
    }
</script>

{% endblock %}